
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress
RewriteEngine on
RewriteRule ^login$ index.php [NC,L]
RewriteRule ^dashboard$ home.php [NC,L]
RewriteRule ^brands$ brands.php [NC,L]
RewriteRule ^categories$ categories.php [NC,L]
RewriteRule ^sub-categories$ subcategories.php [NC,L]
RewriteRule ^products$ products.php [NC,L]
RewriteRule ^collections$ collections.php [NC,L]
RewriteRule ^countries$ countries.php [NC,L]